/* .Rspn {
  background: rgb(22,22,22);
  background: linear-gradient(90deg, rgba(22,22,22,1) 0%, rgba(14,14,14,1) 80%);
} */


.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}

.reveal.inactive {
  opacity: 0;
  transform: translateY(20px);
}

.Rspn img {
  width: 90px;
}

.wrapperRspn {
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.rspnContainer {
  text-align: center;
  color: var(--white);
}

.rspnContainer h2 {
  font-size: 45px;
}

.rspnContainer p {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  font-size: 24px;
  font-weight: 500;
  color: var(--gray);
}

.RspnCards {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  gap: 30px;
}

.cardWrapper {
  border: 2px solid #474747;
  background-color: #101010;
  color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(22, 22, 22, 0.4);
  position: relative;
  transition: box-shadow 0.3s ease;
}

.cardWrapper p {
  padding-top: 10px;
  color: var(--gray);
  font-size: 18px;
}

.cardWrapper:hover {
  transition: var(--transition);
  box-shadow: 0 6px 20px rgba(224, 224, 224, 0.6);
}

.imgCard img {
  width: 100%;
  max-width: 500px;
  height: 300px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}

.cardContent {
  padding: 15px;
  position: relative;
}

.cardContent h2 {
  font-weight: 400;
}

.cardContent p {
  max-width: 32ch;
}

.arrowIcon {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  opacity: 1;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrowIcon:hover {
  transform: translateX(4px);
  color: var(--lightblue);
}

.SquareArrowIcon {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 16px;
  height: 16px;
  opacity: 1;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.SquareArrowIcon:hover {
  transform: translateX(4px);
  color: var(--lightblue);
}

@media (max-width: 1000px) {
  .RspnCards {
    padding: 2rem 2rem 0;
  }
}

@media (max-width: 600px) {
  .rspnContainer h2 {
    font-size: 32px;
  }

  .rspnContainer p {
    font-size: 18px;
    padding: 0 1rem;
    text-align: center;
  }

  .RspnCards {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 1.5rem;
  }

  .cardWrapper {
    width: 90%;
  }

  .imgCard img {
    height: 200px;
    object-fit: cover;
  }

  .cardContent {
    padding: 12px;
  }

  .cardContent h2 {
    font-size: 20px;
  }

  .cardWrapper p,
  .cardContent p {
    font-size: 16px;
    max-width: 42ch;
  }

  .arrowIcon,
  .SquareArrowIcon {
    width: 14px;
    height: 14px;
    bottom: 18px;
    right: 19px;
  }
}

/* @media(max-width:400px) {
  .Rspn {
    max-width: 300px;
  }
} */