.btnWrapper {
  display: inline-block;
  padding: 2px;
  border-radius: 50px;
  background: linear-gradient(90deg, var(--darkblue), var(--blue), var(--lightblue), var(--darkblue));
  background-size: 300%;
  background-position: 0%;
  transition: background-position 0.5s ease;
  position: relative;
  overflow: hidden;
}

.btnWrapper:hover {
  animation: spinGradient 2s linear infinite;
}

/* Animação do gradiente girando */
@keyframes spinGradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}

.black {
  position: relative;
  background: var(--black);
  display: inline-block;
  border: none;
  border-radius: 50px;
  align-content: center;
  padding: 7px 1rem 7px;
  font-size: 1.10rem;
  font-weight: 400;
  letter-spacing: 0.25px;
  color: var(--white);
  z-index: 1;
}

@media(max-width:600px) {
  
  .black {
    font-size: 1rem;
  }
}