.aboutWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 5rem;
    max-width: var(--max-width);
    padding: 10rem 3rem;}

.aboutWrapper h2 {
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 1.5;
    max-width: 30ch;
    text-align: center;
}

.aboutWrapper p {
    font-size: 1.25rem;
    line-height: 1.5;
    text-align: justify;
    max-width: 70ch;
}

@media (max-width: 900px) {
    .aboutWrapper h2 {
        font-size: 1.75rem;
    }
}