#root {
  --white: #fff;
  --black: #060607;
  --darkGray: #121212;
  --lightGray: #dfdede;
  --gray: #9aa0a6;
  --darkblue: #0e1f52;
  --blue: #1a73e8;
  --lightblue: #afcdfa;
  --font: "DM Sans", sans serif;
  --transition: 0.2s all ease-in-out;
  --transform: scale(1.1);
  --smothing: antialiased;
  --max-width: 1280px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Google Sans, Open sans, DM Sans, sans-serif;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #060607
}

h1, h2, h3, h4, h5, h6 {
  color: var(--white);
  letter-spacing: 2px;
}

p {
  color: var(--gray);
  font-weight: 500;
  letter-spacing: 1px;
}

li, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button, a {
  cursor: pointer;
}

button, img, a, div {
  transition: var(--transition);
}

.reveal {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1s ease, transform 1s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
